h1 {
    font-size: 25px;
}

h2 {
    font-size: 15px;
}

p {
    font-size: 50px;
}

.icon-forecast {
    font-size: 40px;
}

.webpage {
    max-width: 700px;
    margin: 30px auto;
    padding: 30px 60px;
    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    border-radius: 12px;
}

body {
    background: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

.source-code {
    font-size: 12px;
    text-align: center;
    margin: 0px, 0px, 0px, 0px;
}

.checked {
    color: white !important;
    background-color: blue !important;
    border-color: blue !important;
}

.float-right {
    float: right;
    margin-bottom: 20px;
}